<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="/">MendWell</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li><a href="/about/">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-1.11.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6">
        <h1>Recent Days <br><small>&nbsp;Track your medications and wellbeing over the past few days</small></h1>
      </div>
    </div>
  </div>

  <!-- button for editing the LATEST day -->
  <a class="btn btn-success" href="/block/edit">Edit Today</a>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="row list-group">
        <div class="col-xs-12 list-group-item">
          <h3> 
            <a href="/block">Date: 05/08/2017</a>
          </h3>
          <h4>Medications
                          <table class="table table-striped table-hover ">
                            <thead>
                              <tr>
                                <th></th>
                                <th class="text-warning">Name</th>
                                <th class="text-success">Dosage</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Tylenol</td>
                                <td>3 pills a day</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Aspirin</td>
                                <td>2 pills a day</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>Buckley's</td>
                                <td>2 spoonfulls</td>
                              </tr>
                            </tbody>
                          </table>   


            <small>&nbsp;</small>
          </h4>
          <h4>Body Status
          </h4>
          <p><span class="label label-warning">Left leg</span>
            &nbsp;<span class="label label-warning">Right arm</span>
            &nbsp;<span class="label label-warning">Head</span>&nbsp;
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <footer>
        <div class="row">
          <div class="col-xs-12"><small>&copy; Adi Kamath 2017</small></div>
        </div>
      </footer>
    </div>

  </body>